/* ImageGalleryItem.module.css */
.galleryItem {
    list-style: none;
}

.image {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.image:hover {
    transform: scale(1.05);
}